body{
    padding-top: 50px;
}
.container {
    height: 600px;
    border: solid whitesmoke 5px;
    margin: auto;
    width: 600px;    
    box-shadow: 10px 5px 5px black;
}

.row {
    display:flex;
    justify-content: center;
    background-color: ghostwhite;
    height: 10px;
}

.column {
    flex: 1;
    background-color: ghostwhite;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.active {
    background-color: greenyellow;
}
/*.column:hover{
    background-color: yellow;

}*/
